.account-bar-container {
  padding: 0 45px;
  max-height: 190px;
  min-height: 190px;
  padding-top: 28px;
  background-color: #00b8dc;
  background-image: linear-gradient(
    -86deg,
    #1db5db 0%,
    #1db5db 20%,
    #25c5ed 46%,
    #0ea1c6 75%,
    #0ea1c6 100%
  );
}

.account-bar-title {
  color: #fff;
  letter-spacing: 3px;
  font-size: 9px;
  font-weight: normal;
}

.account-bar-label {
  text-align: left;
  font-weight: 500;
  padding-top: 10px;
}

.account-bar-label > h4 {
  color: #fff;
}

.account-bar-big-button {
  margin-left: 20px;
  padding: 12px 22px;
  border: 2px solid #fff;
  border-radius: 4px;
  color: #fff;
  font-weight: normal;
  font-size: .9rem;
  display: inline-flex;
  align-self: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
