.donate-modal .donate-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  padding-bottom: 15px;
}

.donate-modal .donate-description {
  font-weight: 400;
  font-size: 14px;
}
