.donate-modal > div.modal-content > div.modal-body {
  min-height: 545px;
}

.donate-modal .donate-description {
  font-weight: 400;
  font-size: 14px;
}

.donate-modal .donate-description.donate-description-larger {
  font-size: 16px;
}
