$footer-color: #a7b6c1;

.footer-container {
  flex: 0 0 39px;
}

.footer {
  width: 100%;
  padding-bottom: 25px;
  font-size: 13px;
  font-weight: 500;
  background-color: transparent;
  color: $footer-color;
}

.footer-block {
  margin: 10px 0;
}
