.highcharts-axis-labels {
	display: none;
}

.highcharts-yaxis-labels {
	display: none;
}
.highcharts-legend {
	display: none;
}
.highcharts-title {
	display: none;
}

.highcharts-credits {
	display: none;
}
.highcharts-background {
	display: none;
}
.highcharts-container {
	background-color: transparent;
}
.highcharts-axis {
	&.highcharts-yaxis {
		display: none;
	}
	&.highcharts-xaxis {
		display: none;
	}
}

.highcharts-label.highcharts-tooltip.highcharts-color-0 {
	display: none;
	tspan {
		display: none;
	}
}

.highcharts-markers {
	visibility: hidden !important;
	display: none;
}

.highcharts-label-box.highcharts-tooltip-box {
	display: none;
}
.highcharts-grid.highcharts-yaxis-grid {
	display: none;
}
.highcharts-container {
	height: 200px !important;
	width: 400px !important;
	-webkit-tap-highlight-color: transparent;
	.highcharts-root {
		height: 200px !important;
		width: 400px !important;
	}
}
