.transaction-list-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 45px;
  border-radius: $border-radius;
  color: #003b54 !important;
}

.statistic-container {
  min-width: 400px;
  width: 0;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: $border-radius;
}

.statistics-chart-container {
  position: relative;
  margin: 0;
  padding: 10px;
  margin-left: -50px;
  margin-right: -25px;
}
