/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import 'variables';
@import 'animation';
@import 'fonts';
@import 'basic';
@import 'button';
@import 'modal';
@import 'tooltip';
@import 'form';
@import 'app-title-bar';
@import 'burger-menu';
@import 'account-bar';
@import 'content-container';
@import 'address-book';
@import 'footer';
@import 'panel';
@import 'normalize';
@import 'fa/fontawesome';
@import 'fa/fa-brands';
@import 'fa/fa-regular';
@import 'fa/fa-solid';

@import 'tour';
@import 'home-page';
@import 'settings-page';

@import 'send-modal';
@import 'receive-modal';
@import 'no-balance-panel';
@import 'debug-information-modal';
@import 'donate-modal';

body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  overflow: hidden;

  background-color: #09121a;
  color: #fff;

  font-family: 'AvenirNext', Helvetica, sans-serif !important;
  font-weight: 500;
}

.main-layer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

a:hover {
  text-decoration: none;
}

.logo {
  content: url('../images/verge-logo-white.png');
}

.transaction-list {
  position: relative;
  bottom: 50px;
  left: 40px;
  width: 670px;
  height: 440px;
  border-radius: 7px;
  background-color: #ffffff;
  color: #003b54 !important;
}

.stats-item {
  line-height: 3em;
  border-bottom: #f2f2f2 solid 1px;
  color: #476b84;
  .info {
    font-weight: 500;
  }

  &.chart {
    border-bottom: none;
  }
}

.close {
  text-shadow: transparent;
}

.topbar {
  background-color: #07121b;
}

#root {
  height: 100%;
}

#root > div {
  height: 100%;
}

.button-header {
  padding-top: 20px;
  background-color: transparent;
  width: 100%;
  padding-right: 5%;
}

.spacer {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  &:nth-child(even) {
    background-color: #f9f9f9;
  }
}

.statistic {
  position: absolute;
  top: 243px;
  left: 755px;
  height: 440px;
  width: 400px !important;
  background-color: #fff;
  border-radius: 7px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.trans-details {
  background-color: transparent;
  color: #999999;
  font-size: 15px;
  line-height: 1.65em;

  a {
    color: #999999 !important;
    text-decoration: underline #999999;
  }
}

.st0 {
  fill: none;
  stroke: #67b5f6;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.st2 {
  fill: none;
  stroke: #506f89;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

// removing unneccessary text selection
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}
input,
button,
textarea,
:focus {
  outline: none !important; // You should add some other style for :focus to help UX/a11y
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.arrow-down {
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.arrow-up {
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.mydrop {
  min-width: 25em !important;
}

button.close {
  // margin: 0px !important;

  > span {
    text-shadow: none;
  }
}

.buttonInside {
  input {
    padding: 7px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
    width: 195%;
  }

  button#showPassword {
    position: relative;
    outline: none;
    border: none;
    top: -33px;
    left: 360px;
    text-align: center;
    font-weight: 500;
    padding: 2px;
    background: transparent;
  }

  button:hover {
    cursor: pointer;
  }
}

.clicky {
  cursor: pointer;
}

.padding-bottom {
  padding-bottom: 45px;
}
