$panel-background: #fff;
$panel-border-radius: $border-radius;
$panel-box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);

.panel {
  background: $panel-background;
  border-radius: $panel-border-radius;
  margin-bottom: 20px;
}
