.balance-title {
  color: #476b84;
  font-size: 6px;
  text-transform: uppercase;
  letter-spacing: 2.2px;
}

.balance-value {
  color: #476b84;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.send-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 2px;
  background-color: #00b8dc;
  border: 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  padding: 14px;
}

.form-input-help.send-disclaimer {
  text-align: center;
  margin-top: 15px;
  line-height: 16px;
  padding: 0 15px;
}
