.balance-title {
  color: #476b84;
  font-size: 6px;
  text-transform: uppercase;
  letter-spacing: 2.2px;
}

.balance-value {
  color: #476b84;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.form-input-help.send-disclaimer {
  text-align: center;
  margin-top: 15px;
  line-height: 16px;
  padding: 0 15px;
}
