$tooltip-arrow-color: #07121b;

.tooltip {
  font-size: 12px;
  font-weight: 400;
  font-family: 'AvenirNext', Helvetica, sans-serif !important;
}

.tooltip-inner {
  color: rgb(70, 118, 152);
  background-color: #07121b;
}
