$border-radius: 0.3em;

$form-input-box-shadow: 0 0 8px #ececec inset;
$form-input-box-shadow-hover: 0 0 8px #9ec9ec inset;
$form-input-box-shadow-focus: 0 0 5px 0.2rem rgba(0, 123, 255, 0.05);
$form-input-border: 1px solid #d0d0d0;

$border-bottom: 1px solid #efefef;
